* {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-size: 62.5%; //10px
}

body {
  height: 100%;

  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $dark;
}
