@import "normalize";
@import "fonts";
@import "vars";
@import "templates";

@import "components/header"; //по аналогии импортируем свой раздел
@import "components/main";
@import "components/section-hero";
@import "components/section-order";
@import "components/section-steps";
@import "components/section-contact";
@import "components/footer";
@import "components/section-vegetables";
