.section-order {
  @extend %container;

  .section-order__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-order__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px
  }

  .section-order__title {
    
  }

  .section-order__content desc{
    display: flex;

  }

  .section-order__img {
    width: 410px;
    height: 170px;
  }


}