.section-contact {
  @extend %container;

  display: flex;

  @media screen and (max-width: 867px) {
    flex-direction: column;
    align-items: center;
  }

  .section-contact__contacts {
    @media screen and (max-width: 867px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .section-contact__title {
      max-width: 614px;
      margin-top: 100px;
    }

    .section-contact__text {
      max-width: 523px;
      margin: 40px 0 80px 0;

      font-size: 1.8em;
      line-height: 24px;
      letter-spacing: -0.72px;

      @media screen and (max-width: 867px) {
        max-width: 499px;
        margin: 20px 0 40px 0;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.4em;
      }
    }
  }

  .section-contact__form {
    .section-contact__label {
      .section-contact__input {
      }

      .section-contact__button {
      }
    }
  }

  .section-contact__container {
    display: flex;
    margin-left: auto;
    padding-left: 30px;

    @media screen and (max-width: 867px) {
      margin: 80px 0 0 0;
      padding-left: 0;
      width: 100%;
    }

    @media screen and (max-width: 375px) {
      margin-top: 40px;
    }

    .section-contact__background {
      display: flex;
      align-items: flex-end;
      max-width: 525px;
      min-width: 400px;
      height: 536px;

      background-color: $light-green;
      background-image: url(../images/BG.png);
      border-radius: 80px;

      overflow: hidden;

      @media screen and (max-width: 867px) {
        max-width: none;
        min-width: 0;
        height: 463px;
        flex: auto;
      }

      @media screen and (max-width: 512px) {
        height: 388px;
      }

      @media screen and (max-width: 375px) {
        height: 350px;
      }

      @media screen and (max-width: 345px) {
        height: 300px;
      }

      .section-contact__img {
        object-fit: cover;
        width: 100%;
        height: 90%;

        @media screen and (max-width: 867px) {
          object-fit: contain;
          max-width: 629px;
          height: 446px;
          margin: 0 auto;
        }

        @media screen and (max-width: 512px) {
          object-fit: contain;
          object-position: center bottom;
          max-width: 355px;
          height: 377px;
        }
      }
    }
  }
}
