* {
  outline: deeppink 1px solid;
}

.section-order {
  @extend %container;
  margin-top: 124px;

  .section-order__container {
    display: flex;
    justify-content: space-between;
  }

  .section-order__content {
    width: 687px;
  }

  .section-order__title {
    margin-bottom: 40px;
  }

  .section-order__desc {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .section-order__column {
    width: 345px;
    font-size: 1.8em;
  }

  .section-order__img {
    width: 410px;
    height: 170px;
  }
}

.wrapper {
  @extend %container;

  position: relative;
  right: 55px;
  margin-top: 124px;

  .wrapper__ribbon.wrapper__ribbon_back {
    width: 1323px;
    height: 100px;
    background-color: $orange;
    line-height: 100px;
    transform: rotate(2deg);
    position: relative;
    top: 0px;
    left: -14px;

    p {
      font-size: 4em;
      color: $grey;
      white-space: nowrap;
      overflow: hidden;

      @media (max-width: 768px) {
        font-size: 2.8em;
      }
    }

    @media (max-width: 1357px) {
      width: 100%;
      height: auto;
    }
    
    @media (max-width: 768px) {
      width: 769px;
      height: 64px;
      line-height: 64px;
    }

    @media (max-width: 490px) {
      width: 100%;
      height: auto;
    }
  }

  .wrapper__ribbon {
    width: 1326px;
    height: 100px;
    background-color: $green;
    line-height: 100px;
    transform: rotate(-3deg);
    position: absolute;
    top: 70px;
    left: 20px;

    p {
      font-size: 4em;
      color: $grey;
      white-space: nowrap;
      overflow: hidden;

      @media (max-width: 768px) {
        font-size: 2.8em;
      }
    }

    @media (max-width: 1368px) {
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 769px;
      height: 64px;
      line-height: 64px;
    }
  }
}